Positioned(
  left: screenWidth * {{ comp.x }} / 100,
  top: screenHeight * {{ comp.y }} / 100,
  child: SizedBox(
    width: screenWidth * {{ comp.width }} / 100,
    height: screenHeight * {{ comp.height }} / 100,
    child: ElevatedButton(
      style: ElevatedButton.styleFrom(
        backgroundColor: const Color(0xFF{{ comp.style.backgroundColor[1:] }}),
        padding: const EdgeInsets.fromLTRB(
          {{ comp.style.padding.left }},
          {{ comp.style.padding.top }},
          {{ comp.style.padding.right }},
          {{ comp.style.padding.bottom }}
        ),
        shape: RoundedRectangleBorder(
          borderRadius: BorderRadius.circular({{ comp.style.borderRadius }}),
        ),
      ),
      onPressed: () {
        {% if comp.route %}
        Navigator.pushNamed(context, '/page-{{ comp.route }}');
        {% else %}
        // Sin ruta definida
        {% endif %}
      },
      child: const Text(
        '{{ comp.label }}',
        style: TextStyle(
          fontSize: {{ comp.style.textStyle.fontSize }},
          fontWeight: FontWeight.bold,
          color: Color(0xFF{{ comp.style.textStyle.color[1:] }}),
        ),
      ),
    ),
  ),
)
