class {{ class_name }} extends StatelessWidget {
  const {{ class_name }}({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    final screenWidth = MediaQuery.of(context).size.width;
    final screenHeight = MediaQuery.of(context).size.height;

    return Positioned(
      left: screenWidth * {{ comp.x }} / 100,
      top: screenHeight * {{ comp.y }} / 100,
      child: SizedBox(
        width: screenWidth * {{ comp.width }} / 100,
        height: screenHeight * {{ comp.height }} / 100,
        child: TextField(
          decoration: InputDecoration(
            filled: true,
            fillColor: const Color(0xFF{{ comp.style.backgroundColor[1:] }}),
            hintText: '{{ comp.placeholder }}',
            border: OutlineInputBorder(
              borderRadius: BorderRadius.circular({{ comp.style.borderRadius }}),
            ),
          ),
          style: const TextStyle(
            fontSize: {{ comp.style.textStyle.fontSize }},
            color: Color(0xFF{{ comp.style.textStyle.color[1:] }}),
          ),
        ),
      ),
    );
  }
}
