import 'package:flutter/material.dart';
import 'pages/page_1.dart';  // importa todos los pages que generes

void main() => runApp(const MyApp());

class MyApp extends StatelessWidget {
  const MyApp({super.key});

  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Generated UI',
      debugShowCheckedModeBanner: false,
      initialRoute: '/page-1',
      routes: {
        {% for r in routes %}
          {{ r }}
        {% endfor %}
      },
    );
  }
}
